.App-name {
    width:80%;
    margin: auto;
    display: flex;
}
.main-screen{
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    .App-name {
      width: 80%;
      padding-top: 10%;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .App-name  {
      width: 60%;
      padding-top: 5%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .App-name  {
      width: 50%;
      padding-top: 2%;
    }
  }

  @media only screen and (min-width: 1200px) {
    .App-name  {
      width: 30%;
      padding-top: 1%;
    }
  }